.field_wrapper {
  padding: 29px 10px 12px 18px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: text;

  background-color: #ecf1f7;
  border: 1px solid transparent;
}

.field_wrapper:hover {
  background-color: #e0e9f3;
}

.field_wrapper__focused, .field_wrapper__focused:hover {
  border: 1px solid rgb(156, 156, 156);
  background-color: white;
}

.msnd_placeholder {
  width: calc(100% - 30px);
  color: #727477;
  line-height: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.field_wrapper__focused .msnd_placeholder, .field_wrapper__filled .msnd_placeholder {
  transform: scale(0.85) translateY(-160%) translateX(-10%);
}

.field_wrapper__wide {
  width: 100%;
}

.msnd_animated {
  transition: 0.2s;
}
